.App {
  text-align: center;
}

.user {
  text-align: center;
}

.product-item {
  width: 100px;
  border: 1px solid;
  padding: 10px;
  margin-left: 10px;
}

.text-wrapper {
  text-decoration: dashed;
  font-size: 18px;
  margin-left: 10px;
  font-family: fangsong;
}

.btn-wrapper button {
  background: #FFCA33;
  margin-left: 10px;
  border-radius: 6px;
  height: 39px;
}

.cart-wrapper {
  border: 1px solid;
  padding: 10px;
  width: 140px;
  margin-left: 10px;
}

.addtocart img {
  width: 50px;
  position: absolute;
  margin-left: 116px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}